@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TTCommons";
  src: url("/fonts/TT_Commons_Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons";
  src: url("/fonts/TT_Commons_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons";
  src: url("/fonts/TT_Commons_Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TTCommons";
  src: url("/fonts/TT_Commons_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons";
  src: url("/fonts/TT_Commons_Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "TTCommons", sans-serif;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Quill Editor Styles */
.custom-quill {
  border: 1px solid #cbd5e1 !important;
  border-radius: 0.8rem !important;
}

.custom-quill:hover {
  border-color: #9ca3af !important;
}

.custom-quill:active,
.custom-quill:focus-within {
  border-color: rgba(0, 38, 255, 0.638) !important;
  outline: none; /* Remove the default browser outline, if desired */
}

.custom-quill .ql-container {
  border: 0px !important;
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.custom-quill .ql-editor {
  min-height: 150px !important;
  font-family: "Nunito", "sans-serif" !important;
  font-weight: 100 !important;
  color: #4b5563 !important;
  font-size: 15px !important;
}

.custom-quill .ql-editor.ql-blank::before {
  color: #9ca3af !important;
  content: attr(data-placeholder) !important;
  font-family: inherit;
  font-size: 15px;
  font-weight: 300 !important;
  position: absolute;
  font-style: normal;
}

.custom-quill .ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #e3e9f0 !important;
  border-radius: 0;
}

.custom-quill .ql-toolbar button {
  background-color: #eceff3 !important;
  font-weight: 100 !important;
  margin-right: 4px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

.custom-quill .ql-toolbar button:hover {
  background-color: #e5e7eb;
  border-color: #d1d5db;
}

.custom-quill .ql-picker-label {
  background-color: #eceff3;
  border-radius: 5px;
  border-color: transparent !important;
}

.custom-quill .ql-picker-label:active {
  border: none !important;
}

.custom-quill .ql-picker-label::before {
  color: #4b4463 !important;
  font-weight: 400 !important;
  font-family: "Nunito", "sans-serif" !important;
  font-size: 0.9rem;
}

.custom-quill .ql-editor p {
  margin: 0;
}

/* Datepicker Base Styles */
/* Fixes a problem with the datepicker where width is fixed */
.react-datepicker-wrapper {
  display: block !important;
}
